<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 重点: Android 13 (API 33) 及以上版本需要此权限来发送通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 重点: Android 14 (API 34) 及以上版本需要此权限来安排精确的闹钟/提醒 -->
    <!-- 或者使用 USE_EXACT_ALARM，但 SCHEDULE_EXACT_ALARM 通常更适合日历应用 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- (可选) 如果你希望在设备重启后重新安排提醒，需要此权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- (可选) 振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:label="农历日历"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
